# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Visual Studio
*.sln
*.suo
